@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/compass-sass-mixins/lib/_compass.sass";
@import "./node_modules/compass-sass-mixins/lib/_animate.sass";
@import "components/header.scss";

$brand-primary: #542e91;
$brand-secondary: #fddc06;

::selection {
  background: $brand-secondary;
}
::-moz-selection {
  background: $brand-secondary;
}

body {
  background: #fefefe;
  font-family: 'Pacifico', cursive;

}

.photos {
  display: flex;
  flex-wrap: wrap;

}

header {
  background: $brand-primary;
  text-align: center;
  padding: 0.4em;

  .logo {
    max-width: 7em;
    display: block;
    margin: 0 auto;
  }
}

.main > .title {
  font-size: 3.6em;
  padding: 0.2em;
  text-align: center;
  border-bottom: 5px dotted $brand-primary;
  margin-bottom: 0.5em;
  color: #fff;

}

.image-container {
  height: 20em;
  position: relative;
  width: 99%;
  @include animation(flipInX 500ms ease-in);
  margin: 1%;
  overflow: hidden;

  @media (min-width: 768px){
    width: 48%;
  }

  @media (min-width: 1024px){
    width: 30.33%;
  }

  &:before {
    background: fade_out($brand-primary, 0.70);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include transition(300ms ease);
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }


  .image {
    background: center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(500ms ease);
  }

  .title {
    position: absolute;
    bottom: 0em;
    color: #fff;
    background: fade_out(#111, 0.1);
    padding: 0.5em;
    z-index: 2;
    font-size: 1.6em;
    text-align: left;

    @media (min-width: 768px){
      bottom: -5em;
      @include transition(200ms ease);
      @include opacity(0);
    }
  }
  @media (min-width: 768px) {


    &:hover {


      &:before {
        background: fade_out(#111, 1);

      }

      .image {
        @include scale(1.05);
      }

      .title {
        bottom: 0;
        @include opacity(1);

      }
    }
  }


}